/* START CHART CHANGES */
.dc-chart g.row text {
  fill: #2c3e50;
  font-size: 11px;
  cursor: pointer;
  font-weight: bolder;
}

.x-axis-label, .y-axis-label {
  fill: #95a5a6;
  font-size: 11px;
}

.dc-legend text{
  font-size: 12px;
}

.dc-chart .pie-slice {
  fill: #2c3e50;
  font-size: 11px;
  cursor: pointer;
  font-weight: bolder;
}

.axis path {
  stroke: #95a5a6;
}

/* END CHART CHANGES */

.row {
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  margin-top: 5px;
}

#stageChart {
  margin-bottom: 15px;
  min-width: 290px;
}
#selectTeam1 {
  margin-left: 20px;
  margin-top: 15px;
  text-align: left;
  min-width:155px;
}
#selectTeam2 {
  margin-left: 20px;
  margin-top: 15px;
  text-align: left;
  min-width:155px;
}

#winnersChart {
  margin-left: 20px;
  margin-top: 15px;
  padding-right: 0;
  padding-left: 0;
  min-width:300px;
}

#selectTeam1 span, #selectTeam2 span {
  float:right;
}

#winnersChart > div{
  margin-bottom: 7px;
}

.reset {
  margin-left: 7px;
}

.form-control {
  padding: 0;
  font-size: 14px;
}

.col-sm-4, .col-md-2, .col-sm-2, .col-lg-2, .col-xs-2, .col-xl-2 {
  padding-right: 7px;
  padding-left: 7px;
}

.chart-title{
  margin-bottom: 5px;
}

@media (min-width: 980px) {
  .container {
      max-width: 1000px;
  }
}

@media (max-width: 800px) {
  #page-header h1{
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  #page-header h1{
    font-size: 24px;
    text-align: center;
  }
}

@media (min-width: 600px){}
  .container {
    padding-right: 27px;
  }
}